#LOGO {
    font-size: 40px;
  }
  #storyH{
    font-size: 26px;
  }

@media only screen and (min-width: 1024px) {
    #LOGO {
      font-size: 80px;
    }
    #LOGOIMG{
        margin-left: 100px;
    }
    #storyH{
        font-size: 40px;
      }
  }
  @media only screen and (max-width: 1024px) {
    .RED{
        display: none;
    }
  }



